name: Windows RDP - Improved

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: 1. Set up Ngrok and Auth Token
        run: |
          Invoke-WebRequest -Uri "https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-windows-amd64.zip" -OutFile "ngrok.zip"
          Expand-Archive "ngrok.zip"
          ./ngrok.exe config add-authtoken "${{ secrets.NGROK_AUTH_TOKEN }}"
          
      - name: 2. Enable RDP and Create User
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0 -Force
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          $password = "win-@12345"
          net user "runneradmin" $password /add
          net localgroup "Administrators" "runneradmin" /add
          net localgroup "Remote Desktop Users" "runneradmin" /add
          echo "RDP_PASSWORD=$password" >> $env:GITHUB_ENV
          
      - name: 3. Start Ngrok Tunnel
        run: |
          ./ngrok.exe tcp 3389 --log "stdout" > ngrok.log &
          Start-Sleep 5
          $tunnel_url = (Get-Content ngrok.log | Select-String "url=").Line.Split("=")[-1]
          echo "RDP Address: $tunnel_url"
          echo "Username: runneradmin"
          echo "Password: ${{ env.RDP_PASSWORD }}"
          
      - name: 4. Keep Workflow Alive
        run: |
          Start-Sleep -Seconds 36000
