name: The Real RDP

on:
  workflow_dispatch:

jobs:
  rdp:
    runs-on: windows-latest
    steps:
      - name: 1. Setup Tunnel and User
        uses: jonathan-casarrubias/rdp-github-action@v1.1
        with:
          # This is the only secret you need to set
          ngrok_token: ${{ secrets.NGROK_AUTH_TOKEN }}
          # You can change the username and password
          username: user
          password: StrongPassword123!

      - name: 2. Keep Alive
        run: Start-Sleep -Seconds 36000
